<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Brgy_System.My.MySettings.brgy_dbConnectionString"
            connectionString="server=localhost;user id=root;database=brgy_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
